.page-header {
    background-color: rgb(93, 156, 143) !important;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: rgb(170, 93, 161) !important;
    font-size: 72pt !important;
    text-decoration: underline !important;
  text-decoration-color: gold !important;
}
body {
    padding-left: 35px;
}

.content {
    margin-left: 100px;
}

h1, h2, h3, h4 {
    font-family: 'American Typewriter', serif !important;
}

.date {
    color: rgb(70, 43, 1 )!important;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color:  rgb(0, 3, 100) !important;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px !important;
}

.post h2 a, .post h2 a:visited {
    color: rgb(170, 93, 161) !important;
}
.comment {
    margin: 20px 0px 20px 20px !important;
}

