{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p style="color:white;">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td style="color:white;" >{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td style="color:white;" >{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input style="background-color:green; color: white; border-color: green; float:inline-start;"  type="submit" value="login" />
        <input style="background-color:green; color: white; border-color: green; float:inline-start;" type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}