{% load static %}
<html>
    <head>
        <title>Rana's Personal blog</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <div class="content">
          <div class="content__container">
            <p class="content__container__text">
              Hello
            </p>
            
            <ul class="content__container__list">
              <li class="content__container__list__item">World !</li>
              <li class="content__container__list__item">Rana !</li>
              <li class="content__container__list__item">CS !</li>
              <li class="content__container__list__item">Everybody !</li>
            </ul>
          </div>
        </div>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>