{% load static %}
<!DOCTYPE html>
<html> 
    
    <head>
        <title>Rana's Personal Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="{% static '/css/blog.css' %}">

    </head>
   <style> body
        {
        background-image:url('{%static "css/Safiaalsalehdesigner1.jpg"%}');
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
        
        }
        .content-container
        {
            color:white;
        }

   </style>
        
    <body>
        
            <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'cv' %}" class="top-menu"><span class="glyphicon glyphicon-file"></span> CV <small></small></p></a>
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <p class="top-menu">Hello {{ user.username }} <small>(<a style="color:#86C232;" href="{% url 'logout' %}">Log out</a>)</small></p>

 
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                <a href="{% url 'cv' %}" class="top-menu"><span class="glyphicon glyphicon-file"></span> CV <small></small></p></a>

            {% endif %}
            <h1><a href="/">Rana's Personal Blog</a></h1>
            </div>
        <div style="color:white;" class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div> 
    </body>
</html>