{% extends "blog/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  
    <h1>Rana AL Badrani</h1>
</head>

<body>

    
    <div>
        <h2>Profile</h2>

        <p> I am an all-round, goal-oriented performer who always seeks to bring out perfection in everything.
            I have a proactive attitude, a strong work ethic, the flexibility to adapt to any situation and I work well with others.
            I am sure to make a real contribution to the day to day operations of any organization. I possess many transferable skills and experiece.
        <p>

    </div>


    <h3>Education</h3>
    {% if user.is_authenticated %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{form}}
        
        
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
    
    
    {%endif%} 
    <div>
    {% for items in items %}
    
   
        
        <p>Education={{items.text}} Data={{items.date}}</p>
        
     
    {%endfor%} 
    </div>    
     
    

</body>
</html>

{% endblock %}