<style>
  .vl {
    border-right: 6px solid #86C232;
    height: 1980px;
    margin-right:-22%;
  }
  .Rana-container{
    margin-left: 45%;
    margin-top: 4%;
    min-width: 90%;
    
  	
  }
  .w3-container{
    margin-top: 4%;
    margin-left:-5%;
    margin-right:5%;
    min-width:38%
  }
  .w-container{
    
    margin-top: 4%;
    min-width: 90%;
    
  	
  }
  @media only screen and (max-width: 600px) {
  .body1 {
    font-size: xx-large ;
    color: red;
  }
}
  
  
  </style>
  
  
  
  
  
  {% extends "blog/base.html" %}
  
  {% block content %}
  <html>
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
  <body1>  
  
  
      <!-- Left Column -->
      
       
      <div class="w3-third ">
      
        
          <div class="w3-display-container vl">
           
            
           
          <div class="w3-container">
            <p class="w3-large w3-text-theme"><b><i style="color:#86C232;" class="fa fa-female fa-fw w3-margin-right"></i>Info</b></p>
            <p><i style="color:#86C232;" class="fa fa-briefcase fa-fw w3-margin-right "></i>Student</p>
            <p><i style="color:#86C232;" class="fa fa-home fa-fw w3-margin-right w3-large"></i>Birmingham, UK</p>
            <p style=margin-right:-60%><i style="color:#86C232;" class="fa fa-envelope fa-fw w3-margin-right w3-large "></i>Rana.a.albadrani@gmail.com</p>
            <p><i style="color:#86C232;" class="fa fa-phone fa-fw w3-margin-right w3-large"></i>+447397236086</p>
            <hr style=" border: 1px solid; color: #6b6e70;;">
            <p class="w3-large w3-text-theme"><b><i style="color:#86C232;"class="fa fa-globe fa-fw w3-margin-right"></i>Languages</b></p>
            <p>Arabic</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge " style="height:24px;width:100%; background-color:#86C232;"></div>
              </div>
            <p>English</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge " style="height:24px;width:90%;background-color:#86C232"></div>
            </div>
            <hr style=" border: 1px solid; color: #6b6e70;">
          
        
        
        <p class="w3-large w3-text-theme"><b><i style="color:#86C232;" class="fa fa-heart fa-fw w3-margin-right"></i>Hobbies</b></p>
        <p>Meditation, Traveling, Event Planning</p>
        <hr style=" border: 1px solid; color: #6b6e70;">
        <p class="w3-large w3-text-theme"><b><i style="color:#86C232;" class="fa fa-envelope fa-fw w3-margin-right"></i>Contact</b></p>
        <h3 style=" font-size: 12pt;"><a href="{% url 'contact' %}" > Click here to send a Message to Rana AL Badrani <Form></Form> <small></small></p></a></h3>
        {% if user.is_authenticated %}
        <h3 style=" font-size: 12pt;"><a href="{% url 'msg' %}" > Messages <Form></Form> <small></small></p></a></h3>
        {% endif %}
        

      </div>
    </div>
 
  
      <!-- End Left Column -->
      </div>
      
      
      
      <!-- Right Column -->
    <div class="Rana-container">
       
         <div class="w-container">
          <h2 style=" font-size: 20pt;">Profile</h2>
          
          <p> I am an all-round, goal-oriented performer who always seeks to bring out perfection in everything.
              I have a proactive attitude, a strong work ethic, the flexibility to adapt to any situation and I work well with others.
              I am sure to make a real contribution to the day to day operations of any organization. I possess many transferable skills and experiece.
          <p>
          
       
      
          <hr style=" border: 1px solid; color: #6b6e70;">
        </div>
      
      
        <div class="w-container">
       {% if user.is_authenticated %}
       <h3 style=" font-size: 20pt;"><a href="{% url 'cvEducation' %}" > Education <small></small></p></a></h3>
       {%else%}
       <h3 >Education</h3>
       {% endif %}
      
        {% for items in items %}
        
            <p>{{items.text}}</p>
            <p>{{items.date}}</p>
      
         
        {%endfor%} 
       
       <hr style=" border: 1px solid; color: #6b6e70;">
       </div> 
      
     
        <div class="w-container">
        {% if user.is_authenticated %}
        <h4 style=" font-size: 20pt;"><a href="{% url 'cvSkills' %}" >Skills <small></small></p></a></h4>
        {%else%}
         <h4 >Skills</h4>
        {% endif %}
        
          {% for skills in skills %}
          
              <p>{{skills.text}} </p>
        
           
          {%endfor%} 
          
         <hr style=" border: 1px solid; color: #6b6e70;">
         </div> 
       
         <div class="w-container">
          {% if user.is_authenticated %}
          <h5 style=" font-size: 20pt;" ><a href="{% url 'cvExperience' %}" > Experience <small></small></p></a></h5>
          {%else%}
          <h5 >Experience</h5>
          {% endif %}
          
            {% for exp in exp %}
            
                <p>{{exp.text}}</p>  
                <p>{{exp.date}}</p>
          
             
            {%endfor%} 
           
           <hr style=" border: 1px solid; color: #6b6e70;">
          </div> 

              
      
          <div class="w-container">
          {% if user.is_authenticated %}
          <h6 style=" font-size: 20pt;" ><a href="{% url 'cvWorkshop' %}" > Workshops <small></small></p></a></h6>
          {%else%}
          <h6 >Workshops</h6>
          {% endif %}
          
            {% for work in work%}

                <p>{{work.text}}</p>
                <p>{{work.date}}</p>
                
                
          
             
            {%endfor%} 
              
          </div> 
      
      


    
      
      <!-- End Right Column -->
      
    </div> 
  
  
  
  
  </body1> 
  </body>
  </html>
  
  
  {% endblock %}