{% extends "blog/base.html" %}
{% block content %}
{% if user.is_authenticated %}

<h3><a href="{% url 'cv' %}" > Education <small></small></p></a></h3>

      
      <form method="POST" class=post-form>
          {% csrf_token %}
          {{ form.as_p }}
        
        <button type="submit"  class="myButton">Send</button>   
      </form>
    
     
    
      <div>
      {% for items in items %}
      
          <p>Education={{items.text}} Data={{items.date}} Grade={{items.grade}}</p>
          
          <a class="myButton" href="{% url 'cv_Education_edit' pk=items.pk %}"><span style="color:#86C232;"class="glyphicon glyphicon-edit"></span></a>
          <a class="myButton" href="{% url 'cv_Education_dlt' pk=items.pk %}"><span style="color:#86C232;" class="glyphicon glyphicon-remove"></span></a>
          
       
      {%endfor%} 
     </div> 
     {% endif %}   

     {% endblock %}   