{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}


    <h2>Skills</h2>
    <p>Are you sure you want to delete"{{skills}}"</p>
    
    <a class="btn btn-default" href="{% url 'cvSkills' %}"><span class="glyphicon glyphicon-arrow-left"></span></a>

    <form  method="POST" class=post-form>
        {% csrf_token %}
        <button style="background-color:green; color: white; border-color: green;" type="submit" class="save btn btn-default">Delete</button>
    </form>
    
{% endif %} 
{% endblock %}