{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
{% else %}
    <a style="color:#86C232;" class="myButton" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
{% endif %}
        {% if user.is_authenticated %}
     <a  class="myButton" href="{% url 'post_edit' pk=post.pk %}"><span style="color:#86C232;" class="glyphicon glyphicon-pencil"></span></a>
     <a  class="myButton" href="{% url 'post_remove' pk=post.pk %}"><span style="color:#86C232;"class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2 style="color:white; font-size: 28pt; "> {{ post.title }}</h2>
        <p style="color:white; font-size: 13pt; ">{{ post.text|linebreaksbr }}</p>
    </div>
    <hr>
    <a style="color:#86C232;" class="myButton" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="myButton"href="{% url 'comment_remove' pk=comment.pk %}"><span style="color:#86C232;" class="glyphicon glyphicon-remove"></span></a>
                <a class="myButton" href="{% url 'comment_approve' pk=comment.pk %}"><span style="color:#86C232;" class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p style="color:white; font-size: 11pt; "></pstyle> No comments here yet :(</p>
{% endfor %}

{% endblock %}
