{% extends "blog/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  
    <h1>Rana AL Badrani</h1>
</head>

<body>


    <h2>skills </h2>
    
    <form method="POST" action="/cv">
        {{form}}
        
        <input type="submit" value="Enter"  name="item_text" id="id_new_item" placeholder="Enter a new skill"/>
        {% csrf_token %}
    </form>
   
        
        {% for items in item %}
            <div>
                <p>{{items}}</p>
               
            </div>
        {% endfor %}
        
    

</body>
</html>

{% endblock %}