.page-header 
{
        
         background-color: #222629; 
         margin-top: 0;
         padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active 
{       color: white;
        font-size: 52pt;
        text-decoration: none; 


}
.content 
{
         margin-left: 40px;
         color: white;


}
h1, h2, h3, h4 
{
        font-family: 'Lobster', cursive;
        color: white;
}
.date
{ /*green */
        color: #61892F;
        
}
    
    
.post h2 a, .post h2 a:visited 
{
         color: red
}

body 
{
        padding-left: 40px;
        background-color: #222629; 
        
        

}

.save 
{ /*green fag3*/
        float: right;
        color: white;
        background-color:#86C232;
}

.post-form textarea, .post-form input 
{
        width: 100%;
        color: #000;
}

.top-menu, .top-menu:hover, .top-menu:visited 
{
        color: white;
        float: right;
        font-size: 15pt;
        margin-right: 30px;
}

.post 
{
        color: white;
        background-color:#86C232; 
        margin-bottom: 70px;
}


.comment 
{
      color: white;
      background-color:#86C232;
      margin: 20px 0px 20px 20px;
}
/* unvisited link */
a:link {
        color: green;
      }
      
      /* visited link */
      a:visited {
        color: green;
      }
      
      /* mouse over link */
      a:hover {
        color: hotpink;
      }
      
      /* selected link */
      a:active {
        color: blue;
      }
