.page-header 
{
        border: outset 15px color #86C232 ;
         background-color: #222629; 
         margin-top: 0;
         padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active 
{       color: white;
        font-size: 52pt;
        text-decoration: none; 
        font-family: 'Cambria',serif;



}
.content 
{

         margin-left: 40px;
         


}
h1, h2, h3, h4 
{
        font-size: 28pt;
        font-family: 'Cambria',serif; 
        color: white;
}
.date
{ /*green */
       color: green;
       font-size: 9pt;
        
}
    
    
.post h2 a, .post h2 a:visited 
{
        color: green;
         background-color: green
        
}

body 
{
        
        
        font-size: 13pt;
        font-family: 'Cambria',serif;
        padding-left: 40px;
        background-color: #222629;
        

}

.save 
{ /*green fag3*/
        float: right;
        color: green;
}

.post-form textarea, .post-form input 
{
        width: 100%;
       
}

.top-menu, .top-menu:hover, .top-menu:visited 
{
        color: white;
        float: right;
        font-size: 15pt;
        margin-right: 30px;
}
.post.title
{
        font-size: 28pt;
        font-family: 'Cambria',serif; 
        color: white;    
}

.post 
{
        
        color: green; 
        margin-bottom: 70px;
}


.comment 
{
        font-size: 9pt;
       color: green;
      margin: 20px 0px 20px 20px;
}

/* unvisited link */
a:link {
        color: green;
      }
      
      /* visited link */
      a:visited {
        color: green;
      }
      
      /* mouse over link */
      a:hover {
        color: #6b6e70;
      }
      
      /* selected link */
      a:active {
        color: green;
      }

      .jumbotron{
        background-image: url(‘css/cover.jpg’);
        background-size: cover;
        background-repeat: no-repeat;
       }     
