.page-header 
{
        
         background-color: #222629; 
         padding-bottom: 9px;
         border-bottom: none;
         margin-top: 0;
         padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active 
{       color: white;
        font-size: 52pt;
        text-decoration:none;
        font-family: 'Cambria',serif;
        text-align: center;



}
.content 
{

         margin-left: 40px;
         


}
h1, h2, h3, h4 
{
        font-size: 28pt;
        font-family: 'Cambria',serif; 
        color: white;
}
.date
{ /*green */
       color: green;
       font-size: 9pt;
        
}
    
    
.post h2 a:visited, .post h2 a:visited 
{
        color: white;
        
        
}

body {
        
        font-size: 13pt;
        font-family: 'Cambria',serif;
        background-color: #222629;
      }

.save 
{ /*green fag3*/
        float: right;
        color: white;
        
        
}

.post-form textarea, .post-form input 
{
        width: 100%;
        color: black;

       
}

.top-menu, .top-menu:hover, .top-menu:visited 
{
        color: white;
        float: right;
        font-size: 15pt;
        margin-right: 40px;
}
.post.title
{
        font-size: 28pt;
        font-family: 'Cambria',serif; 
        color: white;    
}

.post 
{
        color:green;
        margin-bottom: 70px;
}


.comment 
{
        font-size: 9pt;
       color: white;
       margin: 20px 0px 20px 20px;
     
}

/* unvisited link */
a:link {
        color: white;
      }
      
      /* visited link */
      a:visited {
        color: white
      }
      
      /* mouse over link */
      a:hover {
        color: #6b6e70;
      }
      
      /* selected link */
      a:active {
        color: white;
      }

      .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
            touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: white;
        background-color:green;
        border-color: green;
      }


.btn-default{
 color: white;
background-color:green;
border-color: green;

        
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: green;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.save.btn-default
{
        color: white;
      background-color:green;
      border-color: green;

}
.save.btn-default:hover,
.save.btn-default:focus,
.save.btn-default.focus,
.save.btn-default:active,
.save.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: green;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

/* @media screen and (min-width:640px){
       #body{
        top: 50%;
        right: 80%;
        left: 80%;
        width:100%;
        background-color: yellow;

       } 

} */